<div id="banner">
  <h1 id="main-sentence">Add dynamic functionality to your static site</h1>
</div>

<div
  id="grid"
  fxLayout="row wrap"
  fxLayoutGap="32px"
  fxLayoutAlign="flex-start"
>
  <ng-container *ngFor="let widget of embeds">
    <div fxFlex="0 1 calc(33.3% - 32px)" style="padding-bottom: 2em">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title style="padding-left: 0;">{{ widget.Name }}</mat-card-title>
          <!-- <mat-card-subtitle>Subtitle</mat-card-subtitle> -->
        </mat-card-header>
        <img
          *ngIf="widget.Image"
          mat-card-image
          src="image.jpg"
          alt="Alt text"
        />
        <mat-card-content>
          <p>
            {{ widget.Description }}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button *ngIf="widget.Available" routerLink="/{{widget.ID}}" mat-raised-button>Learn more</button>
          <button *ngIf="!widget.Available" mat-button disabled=true>Coming soon</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </ng-container>
</div>
