.cardList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
/* Column Gap */
.cardList > * {
  box-sizing: border-box;
}
.cardList > *:not(:last-child) {
  margin-right: 32px;
}
/* Item sizing */
.cardListItem {
  flex: 0 1 calc(33.3% - 32px);
}

#banner {
  text-align: center;
  width: 100%;
  padding: 2em;
}

#main-sentence {
  font-size: 2em;
}

#grid {
  width: 60%;
  margin: 0 auto;
}

.card {
  margin-bottom: 2em;
  padding: 2em;
  border-radius: 10px;
}

::ng-deep .mat-card-header-text {
  /* CSS styles go here */
  margin: 0px !important;
}
